<form action="/articles" method="post">
<%# <h2>
    <label for="article_name">Article Name: </label>
    <input id="name" type="text" name="article_name"> <br>
</h2> %>

<p>
<ul>
    <li><label for="article_title">Article Title: </label>
        <input id="title" type="text" name="title">
    </li>

    <li><label for="article_content">Article Content: </label>
        <input id="content" type="text" name="content">
    </li>
</ul>
<input type='submit' />
</form>